[Unit]
description=Aeroinspekt Start Script
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/debian/gps-box/init.sh
ExecStop=/bin/bash /home/debian/gps-box/stop.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
